.box{
    width: 400px;
    height: 400px;
    color: #5D4037(255, 255, 255);
    background-color:#B3E5FC(179, 229, 252);
    text-align: center;
    border: 5px dashed #B71C1C(183, 28, 28);
    padding-top: 10px;
    margin: 50px 25px;
}

.box:hover{
    background-color:#E1BEE7(225, 190, 231);
}
div {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: "R.png";
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}