.box{
    
    width: 400px;
    height: 400px;
    display:table; 
    color: #ffffff;
    background-color:#B71C1C;
    text-align: center;
    border: 5px dashed #5D4037;
    padding-top: 10px;
    margin: 50px 25px;
    display: table-cell;
    vertical-align: middle;
}
.box:hover{
    background-color:#009933;
}
div:hover{
    box-shadow: 10px 10px 5px grey;
  }

   